<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</a>

<a class="brand" href="/">YaaYaa</a>

<div class="nav-collapse">
    <ul class="nav">
        <li class="active"><a href="/">首页</a></li>
    </ul>

    <ul class="nav pull-right">
        {% if user.is_authenticated %}
            <li><a href="/account/{{ user.username }}/">{{ user.username }}</a></li>
            <li><a href="/account/signout/">退出</a></li>
        {% else %}
            <form class="navbar-form" action="/account/signin/" method="post">
                {% csrf_token %}
                <input name="identification" type="text" class="span2 input-small" placeholder="用户名">
                <input name="password" type="password" class="span2 input-small" placeholder="密码">
                <button type="submit" class="btn">登录</button>
            </form>
        {% endif %}
    </ul>
</div>